{% extends  "./base.html" %}
{% block start %}
<body style="background:linear-gradient(45deg,rgb(203, 158, 240),rgb(189, 241, 242),rgb(189, 203, 242));">
    <marquee class="text-white">helooooooo</marquee>
<div class="card  mx-auto col-6 mt-5  ml-10"  style="height: 400px;width:600px;background:linear-gradient(45deg,rgb(203, 158, 240),rgb(189, 241, 242),rgb(189, 203, 242));">
    
    <div class="card-body " >
      <h5 class="card-title">{{head}}</h5>
      <p class="card-text">{{para}}</p>
      <a href="./main.html" class="btn btn-dark">Click Here To Know About Movies</a>
    </div>
  </div>
</body>
  {% endblock %}